body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight:100;}

html, body {
    margin: 0;
    padding: 0;
}

body {

    background-color: #ffffff;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}
